body {
	text-align: center;
	font-family: 'Futura';
	background-color: #301157;
	color: white ;
}

form {
	display: inline-block;
}

div {
	border: 1px solid black;
	width: 300px;
	margin: 10px auto;
	color: black;
}

.low-usage {
	background-color: green;
}


.medium-usage {
	background-color: yellow;
}


.high-usage {
	background-color: red;
}