#tempDiv{
  width: 270px;
  height:25px;
  display: inline-block;
}

p {
  font-family: Futura;
}

#currentTemp {
  font-size: 20px;
  font-family: Futura;
}
.low-usage{
  background-color: green;
  color: white;
}
.medium-usage{
  background-color: yellow;
}
.high-usage{
  background-color: red;
  color: white;
}
